In [113]:
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
import pandas
import pickle

flname = "dataset.csv"
data_train = pandas.read_csv(flname)
data_train

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A15,A16,A17,A18,A19,A20,A21,A22,A23,Class
0,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,B1
1,1,0,1,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,B2
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,0,0,0,0,B3
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,1,B4

In [114]:
#Create a Gaussian Classifier
model = GaussianNB()

#X = data_train[["A1","A2","A3","A4","A5","A6","A7","A8","A9","A10","A11","A12","A13","A14","A15","A16","A17","A18","A19","A20","A21","A22","A23"]]

X = data_train[data_train.columns[:-1].tolist()]
X

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23
0,1,1,1,1,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,1,1,1

In [115]:
Y = data_train["Class"]
Y

0    B1
1    B2
2    B3
3    B4
Name: Class, dtype: object

In [116]:
model.fit(X, Y)
confidence = model.score(X, Y)
confidence

1.0

In [117]:
pickle.dump(model, open('model.pkl','wb'))

In [129]:
flname = "penyakit.csv"
labels = pandas.read_csv(flname)
labels.head()

  ClassID  NameClass
0      B1        Flu
1      B2        TBC
2      B3       Asma
3      B4  Bronkitis

In [119]:
model2 = pickle.load(open('model.pkl', 'rb'))

In [140]:
predicted= model2.predict([[1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0]])
predicted

array(['B1'], dtype='<U2')

In [ ]:
predicted_labels = predicted.tolist()
label_name = [labels.loc[labels['ClassID'] == label]['NameClass'] for label in predicted_labels]
print(label_name[0])

In [122]:
from sklearn.metrics import confusion_matrix
Y_prediction = model.predict(X)
cm = confusion_matrix(Y, Y_prediction)
cm

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]], dtype=int64)